footer {
    display: grid;
    padding: 1rem;
}

footer .footer-top {
    padding: 0rem 1rem 1rem 1rem;
}

footer .footer-headline {
    justify-self: center;
}

footer .contact-me-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    padding: 0.5rem;
}

@media (min-width: 950px) {
    footer .contact-me-container {
        justify-items: center;
    }
}

footer .contact-me {
    display: flex;
    align-items: center;
}

footer .contact-me img {
    width: 2rem;
}

footer .contact-me span {
    padding: .75rem;
}

.footer-bottom {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 1.1rem;
}