footer {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    padding: 1rem 0 0 0;
}

footer .footer-title {
    justify-self: center;
}

footer .contact-me-container {
    display: grid;
}

footer .contact-me {
    display: flex;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    margin: 0 1rem 1rem 1rem;
}

footer .contact-me img {
    width: 1.6rem;
}

footer .contact-me span {
    margin-left: 0.3rem;
}

#back-to-top-button {
    align-self: end;
    font-size: 3rem;
    margin-bottom: 0;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 50% 50% 0 0;
    border: 3px 0 0 0 dotted rgb(0, 0, 0);
    color: black;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom,
            #ffffff, #d3d3d3, #a9a9a9, #808080, #5a5a5a);
}