header {
    display: grid;
    grid-template-rows: 1fr 2fr 8fr 1fr;
    justify-items: center;
}

.header-title {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

header .self-portrait1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

header .self-portrait1-container img {
    height: auto;
    max-width: 100%;
}

.about-me-section {
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    background-color: rgb(219, 219, 219);
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 50px;
}

.about-me-section .title {
    text-align: center;
    padding: 1rem;
}

.about-me-section .body {
    padding: 1rem;
}

.about-me-section .image-container {
    display: flex;
    flex-direction: column;
}

.about-me-section .image-container img {
    object-fit: fill;
    margin-top: 1rem;
    border-radius: 50px;
    border: 1px solid rgb(74, 209, 83)
}

.hire-me-button {
    padding: 1.25rem;
    border-radius: 50px;
    margin: 2rem;
    font-size: 2em;
    border: 2px double black;
}