main {
    display: grid;
    grid-template-rows: 1fr 15fr 5fr;
    padding: 1rem;
    justify-items: center;
    background-color: grey;
}

main .main-header {
    margin: 1rem 0 7rem 0;
}

/* link icons */

main .main-header .link-icons-container {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
}

main .link-icons-container a {
    width: 12rem;
    margin: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 15%;
    text-decoration: none;
}

main .link-icons-container a:hover {
    background-color: rgba(5, 5, 5, 0.267);
}

/* Web Apps */
main .apps-section {
    display: grid;
    grid-template-rows: 1fr 50fr;
    justify-items: center;
}

main .apps-section .apps-container {
    display: grid;
}

main .apps-container .web-app-card {
    display: grid;
    grid-template-rows: 2fr 3fr 5fr 3fr;
    justify-items: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem 0 7rem 0;
    padding: 1rem;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}

main .web-app-card .app-title {
    padding: 0.2rem;
}

main .web-app-card .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .web-app-card .button-container button {
    width: 20rem;
    margin: 1rem;
    border-radius: 10%;
}

main .web-app-card .button-container button img {
    width: 10rem;
}

/* Positions */

main .positions-section {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 25fr;
    margin: 3rem 0 1rem 0;
}

main .positions-section .positions-container {
    display: grid;
}

main .positions-container .position {
    display: grid;
    grid-template-rows: 7fr 6fr;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(115, 255, 90);
    padding: 2rem;
    margin: 1rem 0 7rem 0;
    border-radius: 8px;
}

main .position .position-headlines {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 1rem;
}

main .position .position-title {
    text-align: center;
}

main .position .company-name {
    text-align: center;
}

main .position .position-dates {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

main .position .position-dates .start-date {
    justify-self: end;
}

main .position .position-dates .dash {
    justify-self: center;
}

main .position .position-dates .end-date {
    justify-self: start;
}

main .position .position-dates .dash {
    margin: 0 1rem 0 1rem;
}

main .position .position-desc {
    align-self: center;
}