main {
    display: grid;
    grid-template-rows: 1fr 16fr 7fr;
    padding: 1rem;
    justify-items: center;
    background-color: grey;
}

/* Web Apps */
main .apps-section {
    display: grid;
    justify-items: center;
}

main .apps-section .apps-container {
    display: grid;
}

main .apps-container .web-app-card {
    display: grid;
    grid-template-rows: 2fr 3fr 5fr 3fr;
    justify-items: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}

main .web-app-card .app-title {
    padding: 0.2rem;
}

main .web-app-card .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .web-app-card .button-container button {
    width: 20rem;
    margin: 1rem;
    border-radius: 10%;
}

main .web-app-card .button-container button img {
    width: 10rem;
}

/* Positions */

main .positions-section {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 10fr;
}

main .positions-section .positions-container {
    display: grid;
}

main .positions-container .position {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(115, 255, 90);
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
}

main .position .position-title {
    text-align: center;
}

main .position .company-name {
    text-align: center;
    border-bottom: 1px dotted rgb(0, 0, 0);
}

main .position .position-dates {
    display: grid;
    grid-template-columns: 8fr 1fr 8fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

main .position .position-dates .dash {
    margin: 0 1rem 0 1rem;
}