main {
    display: grid;
    grid-template-rows: 1fr 16fr 7fr;
    padding: 1rem;
    justify-items: center;
    background-color: grey;
}

/* Web Apps */
main .apps-section {
    display: grid;
}

main .apps-section .apps-container {
    display: grid;
}

main .apps-container .web-app-card {
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    justify-items: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}

main .web-app-card .app-title {
    padding: 0.2rem;
    font-size: 1.5rem;
}

main .web-app-card .button-container {
    display: grid;
}

main .web-app-card .button-container button {
    background-color: rgb(154, 154, 154);
}